<%= bootstrap_flash %>
<!-- Sign In @Start-->
<div class="form-content clearfix">
  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name),:html => {:class => ""}) do |f| %>
      <h1><i class="iconbig-lock"></i>Sign In</h1>

      <fieldset>
        <div class="login-fields">
          <div class="field">
            <%= f.input :username, :required => false, :autofocus => true,:input_html => {:class => "login username-field"} %>
          </div> <!-- /field -->
          <div class="field">
            <%= f.input :password, :required => false,:input_html => {:class => "login password-field"} %>
          </div> <!-- /password -->
        </div> <!-- /login-fields -->
        <div class="login-actions">
            <span class="login-checkbox">
                <%= f.input :remember_me,:label => false, :class=>"field login-checkbox", :wrapper => :small, :as => :boolean if devise_mapping.rememberable? %> <label class="choice" for="Field">Keep me signed in</label>
            </span>
          <input type="submit" name="submit" value="Sign in" class="btn-signin btn btn-primary">
        </div> <!-- .actions -->
      </fieldset>
  <% end %>
</div>
<!-- Sign In @Ends-->

<!-- Sign Up @Start-->
<div class="form-content clearfix">
  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name),:html => {:class => ""}) do |f| %>
      <h1><i class="iconbig-note-write"></i> New Users Sign Up</h1>
      <div class="info">(Fields marked with an asterisk are mandatory, but to get best results from the service please fill them all up)</div>
      <fieldset>
        <div class="login-fields">
          <!--<div class="field">-->
            <!--<%#= f.input :first_name, :required => false, :autofocus => true,:input_html => {:class => "login username-field"} %>-->
          <!--</div> &lt;!&ndash; /field &ndash;&gt;-->
          <!--<div class="field">-->
            <!--<%#= f.input :last_name, :required => false, :autofocus => true,:input_html => {:class => "login username-field"} %>-->
          <!--</div> &lt;!&ndash; /field &ndash;&gt;-->
          <!--<div class="field">-->
            <%#= f.input :email, :required => false, :autofocus => true,:input_html => {:class => "login username-field"} %>
          <!--<span style="font-size: 20px;margin-left: 6px;"> * </span>-->
          <!--</div> &lt;!&ndash; /field &ndash;&gt;-->
          <div class="field">
            <%= f.input :username, :required => false, :autofocus => true,:input_html => {:class => "login username-field"} %> <span style="font-size: 20px;margin-left: 6px;"> * </span>
          </div> <!-- /field -->
          <div class="field">
            <%= f.input :password, :required => false,:autofocus => true,:input_html => {:class => "login password-field"} %>  <span style="font-size: 20px;margin-left: 6px;"> * </span>
          </div>
          <!--<div class="field">-->
            <!--<%#= f.input :birthday, :required => false,:autofocus => true,:input_html => {:class => "login", :style => "float: left;margin-right: 5px;"},:as => :date,:order => [:day,:month, :year], :prompt => ["- day -","- mounth -","- year -"], :start_year => Date.today.year,:end_year => Date.today.year - 90 %>-->
          <!--</div> &lt;!&ndash; /field &ndash;&gt;-->
          <div class="field">
            <%= f.input :gender, :required => false,:autofocus => true,:input_html => {:class => "login gender"}, :collection => [ "Male", "Female", "Other"], :prompt => "- Select Gender -" %>
          </div> <!-- /field -->
          <div class="field">
            <%= f.input :country, :required => false,:autofocus => true,:input_html => {:class => "login country"}, :prompt => "- Select Country -" %>
          </div> <!-- /field -->
          <!--<div class="field agree">-->
            <%#= f.input :agree, :label => false, :wrapper => :small, :as => :boolean %>
          <!--<label class="choice" for="Field">Accept Terms & Condition</label>-->
          <!--</div> &lt;!&ndash; /field &ndash;&gt;-->
        </div> <!-- /login-fields -->
        <div class="login-actions">
          <%= f.button :submit, "Create my account!",:class => "btn btn-info pull-right" %>
        </div> <!-- .actions -->
      </fieldset>
  <% end %>
</div>
<!-- Sign Up @Ends-->
